.noTextDecor {
  text-decoration: none;
  color: white;
}
.header {
  color: #575d90;
}
.projects {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}
.incompleteProject {
  background-color: darksalmon;
}
.completeProject {
  background-color: darkseagreen;
}
.incompleteProject,
.completeProject {
  flex-basis: 50%;
  height: 50px;
}
