.headerFont {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    margin: 0px;
}
.content {
    margin: 5%;
}
.centerAlign {
    text-align: center;
}
.banner {
    background-color: #f5dd90;
}
.font {
    font-family: "Montserrat", sans-serif;
    color: #586ba4;
}
.signInImg {
    height: 500px;
}
.activeLink {
    background-color: darkslategray;
    color: white;
}
.link {
    color: darkslategray;
}
.links,
.activeLink {
    border: 1px solid black;
    height: 10px;
}
.projects {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.bgSalmon {
    background-color: darksalmon;
}
.bgSeaGreen {
    background-color: darkseagreen;
}
.incompleteProject,
.completeProject {
    flex-basis: 50%;
    height: 50px;
}

.img {
    height: 200px;
}
